.project-details {
  min-width: 80%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.project-details input {
  min-width: 200px;
  min-height: 3em;
  margin: 0;
}

.project-details label {
  margin: 0;
}

.project-details button {
  max-width: 20%;
  margin: auto;
  margin-top: 20px;
}